.movie_card-container {
	border: 1px solid black;
	width: 447px;
	margin: auto;
}

.movie_card-name {
	font-size: 20px;
	font-weight: bold;
}

.movie_card-wide {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	box-shadow: 0 0 1px #ccc;
	border-radius: 4px;
	height: 301px;
}
