/* .profile-buttons_button {
	display: inline-block;
	width: 50%;
	height: 60px;
}

.profile-buttons_button:hover {
	cursor: pointer;
}

.profile-buttons_button:after {
	content: '';
	position: relative;
	width: 50%;
	height: 0;
	left: 0;
	bottom: 0;
	background-color: blueviolet;
}

.active::after {
	height: 5px;
}

.profile-buttons_button:hover:after {
	height: 2px;
}

.profile-buttons_list {
	text-align: center;
} */

.profile-buttons_container {
    height: 4em;
    cursor: pointer;
}

.profile-buttons_container p {
    font-size: 1.5em;
    height: 100%;
    margin: -2px;
}

.profile-button::after {
    content: '';
    height: 5px;
    display: block;
    background-color: #17173f;
    margin: -0.5px;
}

.active::after {
    height: 3px;
}
.active p {
    margin: -1px;
}

.profile-button:hover::after {
    height: 3px;
}

.profile-button:hover p {
    margin: -1px;
}
