.rate-movie_container .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bf;
    z-index: 500;
}

.card-custom {
    height: 390px;
    width: 260px;
    background-size: cover;
}

.modal-buttons_container {
    margin: auto;
}

.card-container_extra {
    margin-top: 10vh;
}

.btn.btn-square {
    border-radius: 0;
}

@media (min-width: 1200px) {
    .modal-buttons_container {
        width: 400px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .modal-buttons_container {
        width: 400px;
    }
}
