
.cardHover{
    transition: .5s ease;

}
.cardHover:hover{
    opacity: 0.2;
}
.textStyle{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardStyle:hover .textStyle {
    display: block;
}
.cardStyle{
    width: 12rem;
    cursor: pointer;
}
@media screen and (max-width: 1245px) {
    .cardStyle{
        width: 11rem;
    }
  }
@media screen and (max-width: 1220px) {
    .cardStyle{
        width: 9rem;
    }
  }

@media screen and (max-width: 1025px) {
    .cardStyle{
        width: 15rem;
    }
  }

@media screen and (max-width: 830px) {
    .cardStyle{
        width: 12rem;
    }
  }
@media screen and (max-width: 640px) {
    .cardStyle{
        width: 9rem;
    }
  }
  @media screen and (max-width: 342px) {
    .cardStyle{
        width: 7rem;
    }
  }
.hrBold{
    border-top:1px solid black;
    width:0;
    -webkit-animation: separator-width 1s ease-out forwards;
    animation: separator-width 1s ease-out forwards;
    animation-delay: .5s;
}
@keyframes separator-width {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }