.video-container {
    border: 1px solid black;
}

.name_tag-container {
    border: 1px solid black;
}

.name_tag-inner {
    font-size: 2em;
    font-weight: bold;
}

.card-custom-vid {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
